@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-padding-top: 10rem;
}

.hero-section {
  background-image: url('/hero-img-min.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 75vh;
  position: relative;
}

.overlay {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: #ffffff60;
  position: absolute;
  top: 0;
  left: 0;
}

li a {
  font-size: 16px;
}

.styledBtn {
  padding: 15px 50px;
  background-color: #d2f2fa;
  box-shadow: 7px 7px 0px #ffefbe;
}

@media screen and (max-width: 768px) {
  .styledBtn {
    padding: 15px 20px;
    width: 100%;
  }
}

.boxShad {
  border-bottom: 20px solid #ffefbe;
  line-height: 10px;
  font-size: 32px;
}
